.container {
    display: grid;
    background-color: aliceblue;
    grid-template: 1fr 4fr 1fr / 1fr 14fr;
    grid-auto-rows: 300px;
    grid-auto-columns: 300px;
    grid-auto-flow: row;
    gap: 4px;
}

.signupform {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    place-self: center;
}